


/*-------------------------- productos ---------------------------*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #cc6969;
}

.tienda{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.producto{
    background-color: #a35e5e;
    padding: 0px;
    margin: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:sans-serif;
}
.imgproducto{
    padding: 10px;
    background-color: #682e2e;
    width: 200px;
    height: 200px;
    object-fit:fill;  /* Para que la imagen cubra el espacio sin deformarse */
    display: flex;
    justify-content: center;
}
.especificacion{
    display: flex;
    align-items: center;
}
.boton{
    color: white;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid;
}
#suma{
    background-color: rgb(0, 160, 67);
}
#suma:hover /*cambiar tamaño de color suma*/
{
    transform: scale(1.05);
    background-color: rgb(3, 94, 41);
    border: 1px solid  rgb(7, 158, 70);
    cursor: pointer;
    transition: all 0.3s ease;
}
#resta{

    background-color: rgb(175, 6, 0);
    
}
.btncarito{
    background-color: #f86e6e;
    padding: 6px;
    margin: 7px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    transition: all 0.3s ease;

}
.btncarito:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
    background-color: #a84b4b;

}

#resta:hover /*cambiar tamaño de color resta*/
{
    transform: scale(1.05);
    background-color: rgb(94, 3, 3);
    border: 1px solid  rgb(243, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
}
@media (max-width:1000px) {
    .tienda{
        width: 100%x;
    }

    .producto{
        padding: 0px;
        margin: 10px;
        border: 2px solid rgb(255, 255, 255);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family:sans-serif;
    }
    .imgproducto{
        padding: 10px;
        background-color: #682e2e;
        object-fit:fill; /* Para que la imagen cubra el espacio sin deformarse */
        display: flex;
        justify-content: center;
    }

}