main{
        flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    max-width: 100%;
    height: auto;
    background-color: #cc6969;
}
li{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
.carrito{
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#listaProductos{
    width: 60vw;
    min-height: 500px;
    border: 3px #f54755 solid;
    height: auto;
    background-color: #FF5764;
}
.total{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.comprar{
    color: white;
    font-size: 20px;
    background-color: #f54755;
    padding: 10px;
    border: 3px white solid;
    border-radius: 14px;
}
.cerrar{
    color: white;
    font-size: 20px;
    
    background-color: #b6333e;
    padding: 10px;
    border: 3px white solid;
    border-radius: 14px;
}
#borrar{
    color: white;
    font-size: 12px;
    background-color: #b6333e;
    border: 3px white solid;
    border-radius: 5px;    
}
#borrar:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
    background-color: rgb(173, 76, 76);

}
@media (max-width:800){
    #car{
        width: 400vw;
    }
}